html, body {
    height: 100%;
    margin: 0;
}

#logo {
  height: 50px; /* Ändra till en storlek som ser bra ut för din logga */
  width: auto;
}



.filters-box{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: #F8F9FA;
    width: 110px;
    min-height: 100vh;
}



#cartlogo, #adminlogo, #userlogo {
  height: 30px; /* Standardstorlek för ikoner */
  width: auto;
}