html, body {
    height: 100%;
    margin: 0;
}

#logo{
    width: 100px;
    height: auto;
}

#cartlogo{
    width: 50px;
    height: auto;
    margin-left: 1150px;
}

#userlogo{
    width: 70px;
    height: auto;
}

#adminlogo{
    width: 60px;
    height: auto;
    margin-left: 45px;
}

.filters-box{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background-color: #F8F9FA;
    width: 110px;
    min-height: 100vh;
}

#textkundvagn{
    margin-left: 28%;
    font-size: 100px;
}

#buttoncontinue{
    margin-left:28%;
    margin-top: 25%;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

#buttonpaynow{
        margin-left: 14%;
        width: 200px;
        height: 50px;
        border-radius: 20px;
}

#textpay{
    margin-left: 34%;
}

#textnames{
    margin-left: 100px;
}