#logo{
    width: 100px;
    height: auto;
}

#cartlogo{
    width: 50px;
    height: auto;
    margin-left: 1150px;
}

#userlogo{
    width: 70px;
    height: auto;
}

#adminlogo{
    width: 60px;
    height: auto;
    margin-left: 45px;
}